

__pycache__/
.ipynb_checkpoints/
.venv/
venv/
.env
env/
*.pyo
*.pyd


*.py[cod]
*$py.class
*.pyc

artifacts/


# IDE
.vscode/
.idea/
*.swp


# OS
.DS_Store
Thumbs.db
desktop.ini

# Streamlit
.streamlit/secrets.toml


# Logs
*.log
training_log.txt

# CatBoost training outputs
catboost_info/